body {
  background-color: #e4002b;
  color: black;
}

img {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

#username {
  font-family: 'Lora', serif;
}

#navbar {
  height:60px;
}
#homeButton {
  margin-left: 105px;
}
#belowUsername{
  background-color: white;
  margin: 50px;
}

#artworkDisplay{
  padding:30px;
}

#columns{
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
}

#imageContainer {
  position:relative;
  display:inline-block;
  text-align:center;
  border:1px solid black;
  padding: 5px;
}

.addArtworkBtn {
  position:absolute;
  bottom:10px;
  right:10px;
}

.resultDiv{
  height: auto;
  border:1px solid black;
  display: flex;
  padding: 5px;

}
.resultImgDiv{
  width:600px;
  border:1px solid black;
  padding: 5px;
}


.resultArtist,
.resultArtwork,
.resultYear,
.resultLocation,
.resultInfoDiv{
  width:100%;
  border:1px solid black;
  padding: 5px;
}


footer {

}