body {
  background-color: #e4002b;
  color: black;
}

#username {
  font-family: 'Lora', serif;
}

#navbar {
  height:60px;
}
#homeButton {
  margin-left: 105px;
}
#belowUsername{
  background-color: white;
  margin: 50px;
}

#artworkDisplay{
  padding:30px;
}

#columns{
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
}

#imageContainer {
  position:relative;
  display:inline-block;
  text-align:center;
  border:1px solid black;
}

#addArtworkBtn {
  position:absolute;
  bottom:10px;
  right:10px;
}

#resultDiv{
  height: 300px;
  border:1px solid black;
  display: flex;
}
#resultImg{
  width:30%;

  border:1px solid black;

}
#resultInfo{
  width:70%;

  border:1px solid black;
}


footer {

}