body {
  background-color: #e4002b;
  color: black;
}

#belowUsername {
  border:2px solid lightgray;
}

img {
  height: 100%;
  max-width: 100%;
  margin: auto;
}

#username {
  font-family: 'Lora', serif;
}

#navbar {
  height:60px;
  color:#e4002b;
}

.navbarText{
  color: #e4002b;
  font-weight:bold;
}

#galleryDropdown{
  border: 1px solid #e4002b
}

#homeButton {
  margin-left: 105px;
}
#belowUsername{
  background-color: white;
  margin: 20px;
}

#artworkDisplay{
  padding:30px;
}

.col{
  margin-left: 10px;
  margin-right: 10px;
}

.imageContainer {
  position:relative;
  display:inline-block;
  text-align:center;
  background-color: rgb(252, 252, 252);
  border:1px solid lightgray;
  padding: 5px;
  margin: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.addArtworkBtn {
  position:absolute;
  bottom:10px;
  right:10px;
  border: 1px solid rgb(188, 188, 188);
}

#addRowBtn,
#showMore {
  border: 1px solid rgb(188, 188, 188);
}

.notSeen,
.seen {
  position:absolute;
  bottom:10px;
  left:10px;
  border: 1px solid rgb(188, 188, 188);
  z-index: 5;
}

.notSeen {
  opacity: 50%;
}

.resultDiv{
  height: auto;
  border:1px solid lightgray;
  display: flex;
  padding: 5px;

}
.resultImgDiv{
  width:600px;
  padding: 5px;
}

.appendArtBtn{
  position: relative;
  bottom: -5;
  right:-92%;
}

.resultArtist,
.resultArtwork,
.resultYear,
.resultLocation,
.resultInfoDiv{
  width:100%;
  padding: 5px;
}

.displayedArtwork,
.displayedArtistName{
  margin-left: 45px;
  margin-right: 45px;
}

footer {
  padding-bottom: 30px;
}