*{
  outline: #4CAF50 solid 1px;
}

.navbarWrapper{
  background-color: white;
}
.navbar {
  margin: 0 auto;
  max-width: 85vw;
}

.topbar {
  height: 35px;
  display: flex;
  justify-content: flex-end;
}
.topbarLinks{
  margin: 5px;
}

.bottombar{
  display: flex;
  border: 1px solid black;
  align-items: flex-start;
}

.bottomLinks{
  margin: 5px;
}

.App {
  background-color: grey;
}

body{
  background-color: red;
  margin: 0;
}

.gallery {
  display:flex;
  background-color: white;
  margin: 50px;
  flex-wrap: wrap;
}


.container{
  margin: auto;
}

img {
  width: 100%;
}

.imageContainer{
  position:relative;
  text-align:center;
  background-color: rgb(252, 252, 252);
  border:1px solid lightgray;
  padding: 5px;
  margin: 30px;
  top: 50%;
  min-width: 300px;
  transform: translateY(0%);
}

.addRowDiv{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.addRowButton{
  width: 40%;
}