*{
  outline: #4CAF50 solid 1px;
}

.navbarWrapper{
  background-color: white;
}
.navbar {
  margin: 0 auto;
  max-width: 85vw;
}

.topbar {
  height: 35px;
  display: flex;
  justify-content: flex-end;
}
.topbarLinks{
  margin: 5px;
}

.bottombar{
  display: flex;
  border: 1px solid black;
  align-items: flex-start;
}

.bottomLinks{
  margin: 5px;
}

.App {
  background-color: grey;
}

body{
  background-color: red;
  margin: 0;
}

.gallery {
  display:flex;
  background-color: white;
  margin: 100px;
  padding: 20px;
  flex-wrap: wrap;
}


.container{
  margin: auto;
  justify-content: space-evenly;
}

img {
  width: 100%;
}

.imageContainer{
  position:relative;
  text-align:center;
  background-color: rgb(252, 252, 252);
  border:1px solid lightgray;
  padding: 5px;
  margin: 30px;
  top: 50%;
  min-width: 300px;
  transform: translateY(0%);
}

.addRowDiv{
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.addRowButton{
  width: 40%;
}

.modalBackdrop{
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 70rem;
  z-index: 10;
  position: fixed;
  top: 5vh;
  left: calc(50% - 35rem);
  overflow-y: auto;
  max-height: calc(100vh - 170px);
}

.resultImage{
  width:600px;
}
.resultContainer{
  display:flex;
}

.resultInfo{
  width:100%;
}